backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
blis==0.7.11
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
cymem==2.0.8
docopt==0.6.2
Flask==2.2.5
gensim==3.8.3
gTTS==2.4.0
idna==3.6
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
Js2Py==0.74
langcodes==3.3.0
MarkupSafe==2.1.3
murmurhash==1.0.10
nltk==3.8.1
numpy==1.21.6
packaging==23.2
pickle5==0.0.12
pipwin==0.5.2
preshed==3.0.9
PyAudio @ file:///C:/Users/W%20A%20Geraldine/pipwin/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl#sha256=40efd3e2961992335d5088692038757221dcf1b63823fd7b079bdc028a057eb7
pydantic==1.10.13
pyjsparser==2.7.1
PyPrind==2.11.3
pySmartDL==1.3.4
regex==2023.10.3
requests==2.31.0
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
smart-open==6.4.0
soupsieve==2.4.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.9.0
srsly==2.4.8
thinc==8.2.1
threadpoolctl==3.1.0
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==5.1
urllib3==2.0.7
wasabi==1.1.2
weasel==0.3.4
Werkzeug==2.2.3
zipp==3.15.0
